.basket-box {
    width: 96.3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-top: 0.1rem solid rgba(109, 109, 109, 0.5);
    border-bottom: 0.1rem solid rgba(109, 109, 109, 0.5);
    display: flex;

    
    &__smooth {
        display: inline-block;
        margin-right: 1.6rem;
     
        input {
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            width: 0.8rem;
            margin-right: 2.4rem;
        }

        .number {
            display: flex;

            .minus {
                width: 6.6rem;
                height: 6.6rem;
                background: #FFF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items:center;
                margin-right: 2.4rem;
                cursor: pointer;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
    
            .plus {
                width: 6.6rem;
                height: 6.6rem;
                background: #FFF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items:center;
                cursor: pointer;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    &__block-image {
        width: 50.2rem;
        height: 49.9rem;
        min-width: 50.2rem;
        min-height: 49.9rem;
        flex-shrink: 0;
        border-radius: 0px 6rem;
        background: #DEDAD6;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-right: 3rem;
        padding: 1.2rem;

    }
    &__image {
        width: 100%;
        height: 100%;
        border-radius: inherit;

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 3.2rem 0;
    }

    &__title {
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; 
        max-width: 43.1rem;
    }

    &__release {
        margin-top: auto;
        display: flex;
        font-size: 2.2rem;
        font-style: normal;
        margin-bottom: 1.2rem;
        line-height: 130%;
        strong {
            display: block;
            margin-right: 1.6rem;
            font-weight: 500;
        }

        span {
            display: block;
            font-weight: 400;
        }
    }

    &__manufacturer {
        display: flex;
        font-size: 2.2rem;
        font-style: normal;
        margin-bottom: 6rem;
        line-height: 130%;
        strong {
            display: block;
            margin-right: 1.6rem;
            font-weight: 500;
        }

        span {
            display: block;
            font-weight: 400;
        }
    }

    &__wrap {
        display: flex;
        align-items:center;
        margin-bottom: 6rem;
    }

    &__price {
        position: relative;
        color:  #840D06;
        font-size: 5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        padding-right: 1rem;
        display: block;
        height: fit-content;
        width: fit-content;
        margin-left: 6rem;
        &::before {
            position: absolute;
            content:'₽';
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color:  #840D06;
            right: 0;
            bottom: 1rem;
        }
    }

    &__block {
        .link:first-child {
            margin-right: 6rem;
        }
    }

    @media (max-width: 48em) {
        width: auto;
        padding-bottom: 8rem;
        padding-top: 8rem;

        &__block-image {
            width: 20rem;
            height: 26.2rem;
            min-height: 0;
            min-width: 0;
            border-radius: 0rem 6rem;
            margin-right: 4rem;
            padding: 1.2rem;
        }

        &__inner {
            padding: 0;
            width: 100%;
        }

        &__title {
            font-size: 3.6rem;
            font-weight: 500;
            line-height: 130%; /* 4.68rem */
            margin-bottom: 3.2rem;
        }

        &__release,
        &__manufacturer {
            margin-bottom: 0.8rem;

            strong {
                color: #6D6D6D;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 130%; /* 4.16rem */
            }

            span {
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 130%; /* 4.16rem */
            }
        }

        &__manufacturer {
            margin-bottom: 4.8rem;
        }

        &__wrap {
            margin-left: -24rem;
            justify-content: space-between;
            margin-bottom: 4.8rem;

            .basket-box__smooth {
                margin-right: 0;
    
                .number {
                    column-gap: 4.8rem;
                }
    
                .minus,
                .plus {
                    width: 8.8rem;
                    height: 8.8rem;
                    margin-right: 0;
                    
                    svg {
                        width: 4rem;
                        height: 4rem;
                    }
                }
    
                .text {
                    font-size: 3.6rem;
                    line-height: 130%; /* 4.68rem */
                    margin-right: 0;
                }
            }

            .basket-box__price {
                font-size: 6.4rem;
                font-weight: 500;
                line-height: normal;
                padding-right: 2rem;

                &::before {
                    font-family: 'Inter';
                    font-size: 3.2rem;
                    line-height: 130%;
                }
            }
    
            .all-btn {
                svg {
                    width: 3.6rem;
                    height: 3.6rem;
                }
            }
        }

        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -24rem;
            
            .link {
                margin: 0;
                padding: 1.6rem 7rem;
                border-radius: 10rem;
                font-size: 3.2rem;
                font-weight: 500;
                line-height: 110%; /* 3.52rem */
            }
        }
    }
}

.basket-box:first-child {
    border-top: none;
}

.basket-box:last-child {
    border-top: none;
}