.invitation {
    background-image: url(../img/invitation/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;

    .container {
        min-height: auto;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: $titleBig;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        width: 47.9rem;
        margin-bottom: 3rem;
    }

    &__text {
        font-size: $textBig;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        margin-bottom: 5.1rem;
        max-width: 63.2rem;
    }

    &__phone {
        position: relative;
        padding-left: 3.6rem;
        margin-bottom: 2rem;
        span {
            font-size: $textBig;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
        }

        a {
            margin-left: 1.2rem;
            font-size: $textBig;
            font-style: normal;
            font-weight: 500;
        }
        &::before {
            position: absolute;
            content:'';
            background-image: url(../img/invitation/location.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            width: 2.4rem;
            height: 2.4rem;
            transform: translate(-50%, -50%);

        }
    }

    &__phone:last-child {
        margin-bottom: 0;
    }

    &__form {
        .checkbox .checkmark:after {
            width: 2.5rem;
            height: 2.5rem;
            transform: translate(-0.2rem, -50%);
        }
    }

    &__form-inner {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 3.2rem;
        label {
            font-size: $textSmall;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            display: block;
            padding-left: 4rem;
            position: absolute;
            top: -0.6rem;
        }

        input {
            background:none;
            background-image: url(../img/invitation/input.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: none;
            height: 7.1rem;
            width: 76.2rem;
            padding-left: 4rem;
            padding-top: 1.6rem;
            padding-bottom: 0.3rem;
            font-size: $textSmall;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }


    .all-btn {
        margin-top: 4rem;
        margin-left: auto;
    }
  
    @media (max-width: 48em) {
        height: auto;
        min-height: auto;
        margin-bottom: 10rem;
        background-image: url(../../img/invitation/bg-mobile.png);
        background-position: center 110rem;
    
        &__wrapper {
            flex-direction: column;
        }
    
        &__title {
            font-size: $titleBigMob;
            width: 100%;
            margin-bottom: 4rem;
        }
    
        &__text {
            max-width: 100%;
            margin-bottom: 8rem;
            font-size: $textBigMob;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    
        &__phone {
            padding-left: 6rem;
            margin-bottom: 4rem;
            font-size: $textBigMob;
            line-height: 130%;
    
            span {
                font-size: $textBigMob;
                line-height: 130%; /* 4.68rem */
            }
    
            a {
                font-size: $textBigMob;
                font-weight: 500;
                line-height: 130%; /* 4.68rem */
                margin-left: 2.4rem;
            }
    
            &::before {
                width: 4.8rem;
                height: 4.8rem;
                transform: translate(0,-50%);
            }
        }
    
        &__right {
            margin-top: 10rem;
        }
        
    
        &__form-inner {
            margin-bottom: 6rem;
            label {
                font-size: $textBigMob;
                padding-left: 8rem;
                top: -1.7rem;
            }
            input {
                width: 100%;
                background-image: url(../img/invitation/fonmbinput.svg);
                height: 13rem;
                padding: 3.6rem 8rem;
                font-size: $textBigMob;
            }
        }
    
        .checkbox {
            margin-left: 3rem;
        }
    
        &__form {
            .checkbox .checkmark:after {
                width: 4rem;
                height: 4rem;
            }
        }
    
        .all-btn {
            margin-left: initial;
            margin-top: 5rem;
        }
    }
}